<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <script
          src="https://kit.fontawesome.com/8153e7e9c2.js"
          crossorigin="anonymous"
  ></script>
  <title>그룹 찾기</title>
</head>
<body>
<div class="content" id="findGroup">
  <h2>그룹찾기</h2>
  <div class="userInfo">
    <div class="userIcon"><i class="fa-solid fa-user-large"></i></div>
    <span th:text="${member.name}"/>님 환영합니다<br>
    <span th:text="${time.hour}+'시 '+${time.minute}+'분 '+${time.second}+'초 공부하셨습니다!'"/>
  </div>

<!--  <div class="findContent">-->
<!--    <input type="text" name="Group" placeholder="검색하기" />-->
<!--    <i id="findIcon" class="fa-solid fa-magnifying-glass"></i>-->
<!--  </div>-->

  <form action="/search_group" method="GET">
    <div>
      <input name="title" type="text" placeholder="제목을 입력해주세요">
    </div>
    <button>검색</button>
  </form>
  <br />

  <div class="finded" id="findGroup">
    <tr th:each="group : ${group}">
      <a th:href="@{'/search/user-detail?code='+${group.group_code}}">
      <div class="group_box">
        <div class="group_picture">
          <span><td th:text="${group.group_title}"></td></span>
        </div>
        <div class="group_description">
          <span><td th:text="${group.group_explain}"></td></span>
        </div>
      </div>
      </a>
    </tr>
    <tr th:each="group : ${groups}">
      <a th:href="@{'/search/user-detail?code='+${group.group_code}}">
        <div class="group_box">
          <div class="group_picture">
            <span><td th:text="${group.group_title}"></td></span>
          </div>
          <div class="group_description">
            <span><td th:text="${group.group_explain}"></td></span>
          </div>
        </div>
      </a>
    </tr>
  </div>
</div>
</body>
<script>
  const findBtn = document.querySelector('#findIcon');

  findBtn.addEventListener('click', () => {
    location.href = '/search/user-detail';
  });
</script>
</html>
