<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <title>Main</title>
</head>
<body>
<!--<div class="login">-->

  <form action="/search" method="post">
    <div id="btn_style">
    <input id="login_id" type="text" class="/search" name="id" placeholder="ID"><br>
    <input id="login_pwd" type="text" class="/search" name="pwd" placeholder="PASSWORD"><br>
    <input type="submit" id="next_btn" value="그룹 찾기" />
    </div>
  </form>

<!--</div>-->
</body>
</html>