<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  <title>Main</title>
</head>
<body>
<form action="/search" method="post">
  <input type="text" class="/search" name="id">아이디<br>
  <input type="text" class="/search" name="pwd">비밀번호<br>
  <div id="btn_style">
    <input type="submit" id="next_btn" value="그룹 찾기" />
  </div>
</form>
</body>
</html>